@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-inner {
  animation-name: marquee;
  animation-duration: var(--marquee-duration, 40s);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.marquee-hover-pause:hover .marquee-inner {
  animation-play-state: paused;
}
